{#{% extends 'base.html' %}#}
{# 开始替换主模板里面的 block content 区域#}
{#{% block content %}#}
{#<div class="panel panel-default">#}
{#    <div class="panel-body">#}
{#       <h class="left">衣服购物</h>#}
{#<div class="btn-group">#}
{#	<button type="button" class="btn btn-default">登陆</button>#}
{#	<button type="button" class="btn btn-default">注册 </button>#}
{#	<button type="button" class="btn btn-default">充值 </button>#}
{#</div>#}
{##}
{##}
{#        <ul id="myTab" class="nav nav-tabs">#}
{#	<li class="active">#}
{#		<a href="#home" data-toggle="tab">#}
{#			 商店首页#}
{#		</a>#}
{#	</li>#}
{#	<li><a href="#raking" data-toggle="tab">最新潮物</a></li>#}
{#	<li class="dropdown">#}
{#		<a href="#" id="myTabDrop1" class="dropdown-toggle"#}
{#		   data-toggle="dropdown">风格#}
{#			<b class="caret"></b>#}
{#		</a>#}
{#		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">#}
{#			<li><a href="#jmeter" tabindex="-1" data-toggle="tab">街头</a></li>#}
{#			<li><a href="#jemter1" tabindex="-1" data-toggle="tab">日系</a></li>#}
{#		    <li><a href="#jemter2" tabindex="-1" data-toggle="tab">高街</a></li>#}
{#            <li><a href="#jemter3" tabindex="-1" data-toggle="tab">机能</a></li>#}
{#            <li><a href="#jemter4" tabindex="-1" data-toggle="tab">工装</a></li>#}
{#            <li><a href="#jemter5" tabindex="-1" data-toggle="tab">职业</a></li>#}
{#        </ul>#}
{#	</li>#}
{#</ul>#}
{#           <form role="form">#}
{#        <div class="form-group">#}
{#		<label for="name">搜索</label>#}
{#		<input type="text" class="form-control" id="name" placeholder="请输入想购买的衣服编号">#}
{#	    </div>#}
{#        </form>#}
{##}
{#        <div id="myTabContent" class="tab-content">#}
{#	<div class="tab-pane fade in active" id="home">#}
{#		<p>这是衣服购物网站的首页内容</p>#}
{#	</div>#}
{#	<div class="tab-pane fade" id="raking">#}
{#		<p>这是购物网站的排行榜</p>#}
{#	</div>#}
{#	<div class="tab-pane fade" id="jmeter">#}
{#		<p>街头类衣物。</p>#}
{#	</div>#}
{#	<div class="tab-pane fade" id="jemter1">#}
{#		<p>日系类衣物</p>#}
{#	</div>#}
{#     <div class="tab-pane fade" id="jemter2">#}
{#		<p>高街类</p>#}
{#	</div>#}
{#     <div class="tab-pane fade" id="jemter3">#}
{#		<p>机能类</p>#}
{#	</div>#}
{#     <div class="tab-pane fade" id="jemter4">#}
{#		<p>工装类</p>#}
{#	</div>#}
{#     <div class="tab-pane fade" id="jemter5">#}
{#		<p>职业类</p>#}
{#	</div>#}
{#</div>#}
{##}
{##}
{##}
{#    </div>#}
{#</div>#}
{##}
{##}
{##}
{##}
{##}
{#{% endblock %}#}